body {
  font-family: 'Times New Roman', serif;
  text-align: center;
}
a:focus, button:focus, img:focus, p:focus{
  outline: 2px solid rgb(14, 29, 241);
  outline-offset: 2px;
}

button{
  background-color: #000000;
  color: #fcfcfc;
  border: none;
}


img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 0 auto;
}

nav {
  background-color: #222;
  display: flex;
  justify-content: center;
}

.contenido {
  display: none;
  padding: 20px;
}

.activo {
  display: block;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  gap: 20px; /* espacio entre botones */
  margin-top: 20px;
}

.boton-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  background-color: #fcfcfc;
  border-radius: 10px;
  width: 120px;
  transition: background-color 0.3s;
}

.boton-imagen img {
  width: 64px;
  height: 64px;
  margin-bottom: 5px;
}

.boton-imagen span {
  color: #050505;
  font-size: 14px;
}

.boton-imagen:hover {
  background-color: #ddd;
}

h1, h2, h3 {
  text-align: center;
    color: #990000;
}
ul {
  list-style-type: square;
  margin-left: 20px;
}
a {
  color: #0033cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.enlaces {
  margin-top: 30px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.catalogo figure {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.catalogo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


